<form action="/addContact" method="POST">
    <input type="text" name="name" placeholder="Enter Name">
    <input type="email" name="email" placeholder="Enter Email">
    <input type="text" name="number" placeholder="Enter Number">
    <input type="submit" value="submit" class="btn waves-effect waves-light">
</form>