<h3>Sign In</h3>
<div class="messageContainer"></div>
<form action="/signin" method="POST">
    <input type="email" name="username" placeholder="Enter Email">
    <input type="password" name="password" placeholder="Enter Password">
    <input type="submit" value='Sign In' class="btn waves-effect waves-light">
</form>