<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Handlebars Example</title>
</head>

<body>
    {{!-- This acts as our main layout. Essentially this is the global contaier for our web pages, and we can set things, such as style sheets, here that will be the same for every page. Huge benefit of this is to have one place to make edits the body placeholder below is the default place for hbs to display our views/templates --}}
    {{{body}}}
</body>
<script src="/js/script.js"></script>

</html>